
<html>
<head>
    <title> Outer Frame - Merchant Page</title>

    <script>

                                function doMonerisSubmit()
                                {
                                                var monFrameRef = document.getElementById('monerisFrame').contentWindow;
                                                monFrameRef.postMessage('','https://esqa.moneris.com/HPPtoken/index.php');
//change link according to table above
                                                return false;
                                }

                                var respMsg = function(e)
                                {
                                                var respData = eval("(" + e.data + ")");
                                                document.getElementById("monerisResponse").innerHTML = e.origin + " SENT " + " - " +
respData.responseCode + "-datakey is ---      |||" + respData.dataKey + "|||    ----" + respData.errorMessage;
                                                document.getElementById("monerisFrame").style.display = 'none';
                                }

                                window.onload = function()
                                {
                                                if (window.addEventListener)
                                                {
                                                                window.addEventListener ("message", respMsg, false);
                                                }
                                                else
                                                {
                                                                if (window.attachEvent)
                                                                {
                                                                window.attachEvent("onmessage", respMsg);
                                                                }
                                                }
                                }


<!--var respMsg = function(e) -->
<!--{-->
                                    <!--var respData = eval("(" + e.data + ")");-->
                                    <!--document.getElementById("monerisResponse").innerHTML = e.origin + " SENT " + " - " + respData.responseCode + "-" + respData.dataKey + "-" + respData.errorMessage;-->
                                    <!--document.getElementById("monerisFrame").style.display = 'none';-->
<!--// your token will be in the field: respData.dataKey-->
<!--// from this point in the Javascript you can have more code that posts the token to another page that will actually process the payment.-->
<!--}-->


                </script>
</head>
<body>

<div>This is the outer page</div>
<div id=monerisResponse></div>
<iframe id=monerisFrame src="https://esqa.moneris.com/HPPtoken/index.php?id=htRCMC6HXLJLDPB&css_body=background:green;&css_textbox=border-width:2px;&css_textbox_pan=width:240px;&enable_exp=1&css_textbox_exp=width:100px;&enable_cvd=1&css_textbox_cvd=width:40px&display_labels=1" frameborder='0' width="250px" height="100px"></iframe>

<input type=button onClick=doMonerisSubmit() value="submit iframe">
</body>
</html>